<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/nav-index'); %>
  <h2 class="encabezado">moda <span>circular</span><img src="img/icono.png" class="corazon">
  </h2>
  
  <%- include('../partials/footer'); %>
</body>

</html>