<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs')%>
</head>
<body>
    <%-include('../partials/nav-normal.ejs')%>
    <br>
    <div class="account-page">
        <div class="container-user">
            <div class="row-2">
                <div class="col-1">
                    <img src="img/mujer-sin-fondo.png" >
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()" id="LoginID">Login</span>
                            <span onclick="register()">Registrate</span>
                            <hr id="indicator">
                        </div>
                        <form id="loginForm" >
                            <input type="text" placeholder="Usuario">
                            <input type="password" placeholder="Contrase単a">
                            <button type="submit" class="btn">Login</button>
                            <a href="">多Olvidaste tu contrase単a?</a>
                        </form>

                        <form id="registerForm" >
                            <input type="text" placeholder="Nombre y apellido">
                            <input type="text" placeholder="Usuario">
                            <input type="email" placeholder="Email">
                            <input type="password" placeholder="Contrase単a">
                            <button type="submit" class="btn">Registrate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <%- include('../partials/footer'); %>
</body>
</html>