<footer>
    <div class="contenedor-footer">
      <div class="footer-slogan">
        <h2 class="encabezado">vendé lo que no usás <span>usá 
          lo que querés</span><img src="/img/icono.png" class="corazon">
        </h2>
      </div>
    </div>
    
  </footer>
  <p class="copyright"> &copy;2021 Todos los derechos reservados</p>

  
  <script src="js/main.js"></script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
