<header>
    <div class="hero">
      <div class="contenidos-header">
        <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
          </label>
          <div class="logo">
            <a href="/"><img src="img/logo.png" class="logotipo">
            </a>
          </div>
          <div class="nav-wrapper">
            <ul >
              <li><a href="/" class="activo">Inicio</a></li>
              <li><a href="/productos/allProducts">Comprá</a></li>
              <li><a href="/productos/addProduct">Vendé</a></li>
              <li><a href="/user">Usuario</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>