<header class="barra">
  <div class="contenidos-header-barra">
      <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
              <i></i>
              <i></i>
              <i></i>
          </label>
          <div class="logo">
              <a href="/"><img src="/img/logo.png" class="logo-barra">
              </a>
          </div>
          <div class="nav-wrapper">
            <ul>
                <li><a href="/" class=<%=item1%>>Inicio</a></li>
                <li><a href="/productos/allProducts"class=<%=item2%>>Comprá</a></li>
                <li><a href="/productos/addProduct"class=<%=item3%>>Vendé</a></li>
                <li><a href="/user"class=<%=item4%>>Usuario</a></li>
              </ul>
          </div>
      </nav>
  </div>
</header>